[Unit]
Description=Webapp

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/webapp
ExecStart=java -jar cloudwebapp-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always
RestartSec=5
StandardOutput=file:/home/ubuntu/webapplog.txt

[Install]
WantedBy=multi-user.target