[Unit]
Description=webapp

[Service]
EnvironmentFile=/etc/environment
User=ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/webapp/cloudwebapp-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always
RestartSec=10
StandardOutput=file:/home/ubuntu/webapp.log

[Install]
WantedBy=multi-user.target